<div class="span4">
  <%= form_for mi_position do |f| %>
  <p>

    <%= f.label :Cargo %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%=f.submit :class =>'btn btn-primary'%>
  </p>

<% end %>
</div>