<div class="span4">
  <%= form_for mi_service_type do |f|%>
  <p>
    <%=f.label :description %>
    <%=f.text_field :description %>

  </p>
  <p>
    <%=f.submit :class =>'btn btn-primary'%>
  </p>

<% end %>
</div>