<div class = "span4">
  <%= form_for mi_colour do |f| %>
  <p>

    <%= f.label :color %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%=f.submit :class =>'btn btn-primary'%>
  </p>
<%end %>
</div>