<div class="span4">
<%= form_for mi_brand do |f|%>
  <p>
    <%=f.label :Marca %>
    <%= f.text_field :description %>


  </p>
  <p>
    <%=f.submit :class =>'btn btn-primary'%>
  </p>

<% end %>
</div>