# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\javie\OneDrive\#Facultad\5 Quinto Semestre\Programacion IV\Aldo\Proyecto\tallerMecanico\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
